@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #0C2521;
    font-family: "IBM Plex Serif", serif;
}

h2 {
    @apply text-xl md:text-4xl;
}

span {
    @apply text-teal-500;
}

p {
    @apply text-xl tracking-tight leading-relaxed;
}

.bg-primary-color {
    @apply bg-teal-600;
}
